<%- include("./partials/top.ejs") %>
<title>Shop!</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <h1>Cart page</h1>
    <% if(products.length == 0) {%>
        <h3>Cart is empty</h3>
    <% } %>
    <% for(let i =0; i< products.length; i++){ %>
        <h3> <%=  products[i].productId %> </h3> <span> -----> <%=  products[i].quantity %> </span>
    <% } %>
<%- include("./partials/end.ejs") %>