<%- include("./partials/top.ejs") %>
<title>Shop!</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <h1>Cart page</h1>
    <% if(products.length == 0) {%>
        <h3>Cart is empty</h3>
    <% } %>
    <% for(let i =0; i< products.length; i++){ %>
        <form action="/cart" method="POST">
            <h3> <%=  products[i].productId %> </h3> <span> -----> <%=  products[i].quantity %> </span>
            <input type="hidden" name="productId" value=<%= products[i].productId %>>
            <input type="hidden" name="add" value=false>
            <button type="submit">Remove from cart</button>
        </form>
    <% } %>
    <% if(products.length != 0) {%>
        <h4>Order Now!</h4>
        <form action="/order" method="POST">
            <button type="submit">Order Now</button>
        </form>
    <% } %>
<%- include("./partials/end.ejs") %>