<%- include("./partials/top.ejs") %>
<title>Shop!</title>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="container mx-auto mt-6">
        <h1 class="text-3xl">
            <% if(addProduct){ %>
                Add Product  
               <% }else{%>
                Edit Product
               <% } %>
        </h1>
        <% if(addProduct){ %>
            <form action="/products/add" method="POST" class="flex flex-col">
           <% }else{%>
            <form action="/products/edit" method="POST" class="flex flex-col">
           <% } %>
            <label for="title">Name</label>
            <input class="border-black border-2 p-2" type="text" name="title" id="title" value=<%- product.title %>>
            <br>
            <label for="price">Price</label>
            <input class="border-black border-2 p-2" type="number" name="price" id="price" value=<%= "" || product.price %>>
            <br>
            <label for="description">Description</label>
            <textarea class="border-black border-2 p-2" name="description" id="description" rows="3" ><%= "" || product.description %></textarea>
            <input type="hidden" name="productId" value=<%=product._id%>>
            <button type="submit" class="p-2 bg-black text-white hover:bg-gray-400 transition mt-6">
                <% if(addProduct){ %>
                 Add Product  
                <% }else{%>
                 Edit Product
                <% } %>
            </button>
        </form>
    </div>
<%- include("./partials/end.ejs") %>